*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body,html{
	height: 100%;
}
.warp{
	width: 100%;

	height:100%;
}
/*stylesheet of sidebar*/
.sideBar{
    width: 100px;
    height: 100%;
    background: rgb(29, 37, 49);
    position: relative;
    float: left;
}
.sideBar ul li{
	display: block;;
	width: 60px;
	height: 60px;
	float: botttom;
	margin-left: 20px;
	margin-top: 15px;
}
.sideBar ol{
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 20px;
}
.sideBar ol li{
	width: 18px;
	height: 18px;
	position: absolute;
	bottom: 15px;
}
.sideBar .le{
	left: 0;
	background: url(images/Grid.png) no-repeat;
	background-size: cover;
}
.sideBar .ri{
	right: 0;
	background: url(images/Settings.png) no-repeat;
	background-size: cover;
}
.sideBar .icon1{
	background: url(images/Item1.png);

}
.sideBar .icon2{
	background: url(images/Item2.png);
}
.sideBar .icon3{
	background: url(images/Item3.png);
}
.sideBar .icon4{
	background: url(images/AddApp.png);
}
.sideBar .ul li{
	background-repeat: no-repeat;
	background-size: cover;
}
/*stylesheet of side navbar */
.sideNav{
	display: block;
	width: 280px;
	height: 100%;
	background-color: rgb(34, 44, 60);
	float: left;
}
.sideNav li,.sideNav .head{
	display: block;
	width: 250px;
	text-indent: 30px;
	
}
.sideNav li{
	height: 30px;
	line-height: 25px;
	position: relative;
	color: rgb(172, 181, 194);
}
.sideNav .head{
	height:50px;
	line-height: 50px;
	color: rgb(81, 93, 110);
}
.sideNav hr{
	margin-top: 10px;
	margin-left: 30px;
	width: 220px;

}
.sideNav .goals{
	position: absolute;
	bottom: 0;
	width: 250px;
	height: 60px;
	font-size: 13px;
}
.goals label{
	color: rgb(245, 246, 246);
}
.sideNav .row1{
	margin-left: 30px;
}
.goals i {
	float: right;
}
.sideNav .goals .dark{
	color: rgb(172, 181, 194);
}
.goals .progressBar{
	width: 220px;
	height: 4px;
	background-color: rgb(45, 56, 72);
	border-radius:3px;
	margin-left: 30px;
	margin-top: 15px;
}
.goals .progressBar span{
	display: block;
	border-radius: 3px;
	width: 40%;
	height: 4px;
	background:linear-gradient(to right,rgb(113, 85, 202),rgb(156, 142, 227));
}
.blueTag{
	display: block;
	position: absolute;
	right: 0;
	top: 2px;
	width: 26px;
	height: 20px;
	border-radius: 15px/15px;
	text-align: center;
	text-indent: 0;
	background-color: #289df5;
	color: white;
	font-size: 13px;
	line-height: 20px;
}
/*stylesheet of messages*/
.mainWarp{
	width: calc(100% - 380px);
	height: 100%;
	float: left;
}
.top{
	width: 100%;
	height: 79px;
	position: relative;
	border-bottom: solid 1.3px #edeff1; 
}
.top h3{
	display: block;
	width: 200px;
	height: 80px;
	position: absolute;
	left: 30px;
	line-height: 80px;
	font-weight: 200;
	font-size:25px; 
}
.personalInfo{
	width: 250px;
	height: 80px;
	position: absolute;
	right: 0;
	top: 0;
}
.personalInfo .headSc{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: 15px;
	background: url(images/Face.png) no-repeat;
	background-size: cover;
	float: left;
	position: relative;
}
.headSc .status{
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	bottom:2px;
	right: 2px; 
	background: url(images/Status.png) no-repeat;
	background-size: cover;
}
.personalInfo .info{
	width: 120px;
	height: 50px;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	line-height: 25px;
}
.personalInfo .name{
	font-size: 16px;
	color:#299cf1;
}
.personalInfo .role{
	color: rgb(195, 195, 195);
}
.personalInfo .topArrow{
	display: block;
	margin-left: 25px;
	margin-top: 35px;
	width: 10px;
	height: 10px;
	float: left;
	background: url(images/dropdown.png) no-repeat;
}
.userList{
	width: 280px;
	height: calc(100% - 80px);
	float: left;
}
.searchBox{
	width: 280px;
	height: 50px;
	border-bottom: solid 1.3px #edeff1;
}
.searchBox form{
	display: block;
	width: 220px;
	height: 26px;
	margin-top: 22px;
	margin-left: 30px;
	border: solid 1.3px #edeff1;
	background-color: white;
}
input::-webkit-search-cancel-button{
  display: none;
}
--清除IE下的 search 叉号
input[type=search]::-ms-clear{
  display: none;
}
.search{
	width: 180px;
	height: 24px;
	border: none;
	margin-left: 3px;
	margin-top: 1px;
	outline: none; 
}
.searchBox .searchIcon{
	display: block;
	margin-right: 2px;
	width: 26px;
	height: 26px;
	float: right;
	background: url(images/Searchicon.png) no-repeat;
	background-size: 15px 15px;
	background-position: center;
}
.content{
	width: calc(100% - 280px);
	height:calc(100% - 80px);
	float: left;
	background-color: #fbdb65;
}